@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    background-color: #F5F5F7;
    color: #424245;
}

input {
    outline: none;
    background-color: #F5F5F7; 
}
 
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* .animate-fade-in {
    animation: fadeIn 200ms ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        background-color: #7f8c8d;
    }
    to {
        background-color: #000000cc;
    }
} */

.animate-back-in-right {
    animation: backInRight 400ms ease-out forwards;
    transition: all;
}

@keyframes backInRight {
    0% {
        transform: translateX(2000px) scale(30%);
    }
    75% {
        transform: translateX(0) scale(75%);
    }
    100% {
        transform: translateX(0) scale(100%);
    }
}